.card {
    margin-top:0.75em;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:#ffffff;
    //height: 3em;
    width: 100%;
}

.card-content{
    font-family:'Sen',sans-serif;
}

.name{
    font-size:1.5em !important;
    color:#ffab40;
}

.mat-icon{
    opacity: 50%;
    font-size:1.5em !important;
}

.view-wish{
    background-color: transparent !important;
    box-shadow: none !important;
    outline:none !important;
    margin-top:-0.6em !important;
}

.wish{
    font-size:1em !important;
    color:grey;
}